.container{
    margin-left: 350px;
    margin-top: 100px;
}
body{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:red;
    background-color: black;
}
#name{
    font-size:50px;
    color:white;
   
}
body a{
    font-size: 30px;
    text-decoration: none;
    margin-left:1100px;
    color: yellow;
    background:linear-gradient(to right,red,blue);
}
@media(max-width:750px){
    #name{
        margin-left: 68px;
    }
    #college{
        margin-left: 68px;
    }
    .container{
        margin-left: 90px;
    }
    body a{
        margin-left: 480px;
        
    }
}