
body{
    
    background-image: linear-gradient(90deg, hsl(240,100%,0%), hsl(254,67%,13%), hsl(275,82%,22%), hsl(297,65%,26%), hsl(324,58%,36%), hsl(345,54%,47%), hsl(8,70%,54%), hsl(25,89%,52%), hsl(38,97%,51%), hsl(49,90%,61%), hsl(49,90%,61%));
}

.container{
    height: 350px;
    width: 350px;
    justify-content: center;
    background-color: rgba(97, 110, 98, 0.2);
    margin-top: 160px;
    margin-left: 480px;
    border-radius: 15px;
    border-width: 5px solid red;
    box-shadow: 0 2px 5px goldenrod;

}
.box{
   text-align: center;
   display: block;
   font-family: "Audiowide", sans-serif;
   font-weight: 400;
   font-style: normal;

   
   
}

.box a{
    font-size: 40px;
    color: black;
}

.box a:hover{
    color:#f4f803;
}
#home{
    cursor:pointer;
    color:black;
    text-decoration: none;
   
}
#home:hover{
    color:#f4f803;
    opacity: 3000%;
}
#about{
    text-decoration: none;
    
}
#coding{
    width: 200px;
    height: 200px;
    top: 0;
}
#contact{
    cursor:pointer;
}
#project{
    cursor:pointer;
    text-decoration: none;
}
@media(max-width:750px){
    .container{
        width:350px;
        height:350px;
        margin-left: 190px;
        margin-top: 550px;
    }

}
    
